@{
    ViewData["Title"] = "Home Page";
}


    
    <div class="container">
        <main role="main" class="pb-3">

            <body>
                <div class="text-center">
                    <h1 class="display-4">Revella ClothingLine</h1>
                    <p class="dropdown-item-text">
                        The ultimate clothing to see the world in

                    </p>
                </div>
               
            </body>
            
         </main>
      </div>








